---
import { work, UI } from "@/location/es.json";
const { experience_section, time_present } = UI;
---

<h2>{experience_section}</h2>
<ul class="flex flex-col gap-8">
  {
    work.map(({ name, position, startDate, endDate, summary }) => {
      const startExp = new Date(startDate).getFullYear();
      const endExp =
        endDate != null ? new Date(endDate).getFullYear() : time_present;
      const formattedExp =
        startExp === endExp ? startExp : `${startExp} - ${endExp}`;

      return (
        <li>
          <article class=" m-1">
            <header class=" flex justify-between items-center">
              <div>
                <h3 class=" font-bold">{name}</h3>
                <h4 class=" font-semibold">{position}</h4>
              </div>
              <time>{formattedExp}</time>
            </header>
            <footer class=" pt-3">
              <p>{summary}</p>
            </footer>
          </article>
        </li>
      );
    })
  }
</ul>
